[submodule "media"]
	path = media
	url = https://github.com/swapniljoydhar/media.git
	branch = auralis-windows-sync

[submodule "musikr/src/main/cpp/taglib"]
	path = musikr/src/main/cpp/taglib
	url = https://github.com/taglib/taglib.git
	tag = ee1931b
